<div>
    <h2>Bienvenido, aqui puede comprar distintos tipos de bicicleta</h2>
    <ul>
        {{#each products}}
            <li>Nombre del producto: {{title}} - Precio: {{price}}</li>
        {{/each}}
    </ul>
    <p> {{productsTitles}} </p>
</div>
